* {
   margin: 0;
   padding: 0;
   border: 0;
}

body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
   margin: 0;
   padding: 20px;
}

h1 {
   color: rgb(20, 81, 212);
}

h2 {
   color: #555;
}